/*
 * viewer.css
 * Part of Pointless Viewer, a Beamer presentation viewer
 * Copyright 2018 Pacien TRAN-GIRARD
 * License: GNU GPL v3
 */

html, body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
}

a {
  color: white;
}

header > h1 {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}

header span {
  font-size: 1.25rem;
}

#offlineCapable {
  visibility: hidden;
}

#welcomeScreen {
  display: none;
  max-height: 100%;
  min-width: 20rem;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}

#welcomeScreen > div {
  margin-bottom: 4rem;
}

#welcomeScreen > div:last-child {
  margin-bottom: 1rem;
}

#welcomeScreen table {
  width: 100%;
  border-collapse: collapse;
}

#welcomeScreen table td {
  text-align: center;
  border: 1px solid white;
  width: 50%;
  height: 8rem;
}

#welcomeScreen ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#welcomeScreen li {
  display: inline;
}

#welcomeScreen li + li::before {
  content: " • ";
}

#fileInput {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.notification {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: black;
  font-size: 1.6rem;
}

.notification:empty {
  display: none;
}

#screen {
  transition: opacity 300ms;
}
